<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idolticketing.idolticketing.dao.BookMapper">
    <insert id="createBook">
        INSERT INTO book
        (userid,type,contentId,createTime,updateTime)
        VALUES
        (#{userid},#[type},#{contentId},#{createTime},#{updateTime})
    </insert>
    <delete id="cancel">
        DELETE FROM book
        WHERE
        id = #{id}
    </delete>
    <select id="getBook">
        SELECT * FROM book where id=#{id};
    </select>


</mapper>