<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idolticketing.idolticketing.dao.UserMapper" >
    <insert id="registUser">
        INSERT into user
        (userId,name,password,email,phone,address,isAdmin)
        VALUES (#{userId},#{name},#{password},#{email},#{phone},
        #{address},#{isAdmin})
    </insert>
   <update id="updatePassword" >
    UPDATE user
    SET
       password = #{password}
    WHERE
       id = #{id}
   </update>
    <select id="findByIdAndPassword" resultType="com.idolticketing.idolticketing.dto.UserDTO">
        SELECT userId,name,password,email,phone,address
        FROM user
        WHERE password = #{password}
        AND userId = #{userId}
    </select>
    <delete id="deleteUser">
        DELETE from user
        WHERE id = #{id}
    </delete>
    <select id="getUser">
        SELECT userId,name,password,email,phone,address
        FROM user
        WHERE password = #{password}
        AND userId = #{userId}
    </select>
</mapper>